body{
    font-family: Roboto, 'arial';
    margin:0;
}

.hidden {
    display:none;
}

.content-container .item {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
}

.content-container .item.panel-one {
    display:block;
}

.content-container .wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 180px;
}

.start-quiz {
    border: 1px solid #cccccc;
    padding: 10px 20px;
    border-radius: 40px;
    color: #9a9a9a;
    cursor:pointer;
}
.start-quiz.started {
    background: #3f51b5;
    color: #fff;
}

/* Panels */
.panel-two .wrapper,
.panel-three .wrapper,
.panel-four .wrapper,
.panel-five  .wrapper {
    display: none;
}

/* Selectable Elements */
.options {
    height:200px;
}
.options div {
    display: none;
    margin-bottom: 15px;
    font-size: 20px;
    color: #3f51b5;
    transition: all 0.2s ease;
}

.options div.active {
    color: #007fff;
    background: #313131;
}

.next-question {
    cursor: pointer;
}

/* Progress & Error */
.error {
    position: fixed;
    bottom: 63px;
    width: 100%;
    color: #F44336;
    font-weight: bold;
    text-align: center;
    display: none;
}

.progress {
    position: fixed;
    bottom:0;
    background: #d0d0d0;
    width:100%;
}

.bar {
    width:0%;
    height: 25px;
    background: #00BCD4;
}